<ion-header>
  <ion-navbar>
    <ion-title>Current Paper Chase</ion-title>
    <ion-buttons end>
      <span>
        {{locationAccuracy | number:"1.0-0" || "--"}}m
        <ion-icon name="locate"></ion-icon>
      </span>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card>
    <ion-card-header>
      Your Paper Chase
    </ion-card-header>
    <ion-card-content *ngIf="userService.currentPath">
      {{userService.currentPath.name || "--"}}
    </ion-card-content>
    <ion-card-content *ngIf="!userService.currentPath">
      Start a new paper chase or continue a old one.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      Direction
    </ion-card-header>
    <ion-card-content>
      <!-- if there is no DeviceOrientation use 0 as default, Somit ist Norden immer oben-->
      <span *ngIf="!pointingDirection">N</span>
      <div id="compass-container" class="flex-container flex-center">
        <compass [scale]="4" [rotation]="pointingDirection || destinationDirection"></compass>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      Distance
    </ion-card-header>
    <ion-card-content>
      {{(distance/1000) | number:"1.0-2" || "--"}} km
    </ion-card-content>
  </ion-card>

</ion-content>
